<form action="/incidencias/updateAll" method="POST">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Prioridad</th>
      <th>Departamento</th>
      <th>Fecha de Incidencia</th>
      <th>Técnico</th>
    </tr>
    <% incidencias.forEach(inc=> { %>
      <tr>
        <td>
          <%= inc.id %>
        </td>
        <td>
          <%= inc.descripcio %>
        </td>
        <td>
          <select name="prioridad_<%= inc.id %>" class="form-select">
            <option value="" disabled selected>Selecciona una prioritat</option>
            <option value="Alta" <%=inc.prioritat==='Alta' ? 'selected' : '' %>>Alta</option>
            <option value="Mitjana" <%=inc.prioritat==='Mitjana' ? 'selected' : '' %>>Mitjana</option>
            <option value="Baixa" <%=inc.prioritat==='Baixa' ? 'selected' : '' %>>Baixa</option>
          </select>
        </td>
        <td>
          <%= inc.Departamento ? inc.Departamento.nombre : 'Sin departamento' %>
        </td>
        <td>
          <%= inc.dataincidencia %>
        </td>
        <td>
          <select name="tecnico_<%= inc.id %>" class="form-select">
            <option value="" disabled selected>Selecciona un técnico</option>
            <% tecnicos.forEach(tec=> { %>
              <option value="<%= tec.id %>" <%=inc.idt===tec.id ? 'selected' : '' %>><%= tec.nombre %>
              </option>
              <% }) %>
          </select>
        </td>
      </tr>
      <% }) %>
  </table>
  <button type="submit" class="btn btn-primary">Actualizar Todos</button>
</form>