<% if (incidencias.length === 0) { %>
    <div class="alert alert-warning">No hi han incidencias per asignar</div>
<% } else { %>
  <form action="/incidencias/updateAll" method="POST">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Descripció</th>
        <th>Prioritat</th>
        <th>Departament</th>
        <th>Categoria</th> <!-- Nueva columna -->
        <th>Data d'incidència</th>
        <th>Tècnic</th>
      </tr>
      <% incidencias.forEach(incidencia=> { %>
        <tr>
          <td>
            <%= incidencia.id %>
          </td>
          <td>
            <%= incidencia.descripcio %>
          </td>
          <td>
            <select name="prioridad_<%= incidencia.id %>" class="form-select">
              <option value="" disabled selected>Selecciona una prioritat</option>
              <option value="Alta" <%=incidencia.prioritat==='Alta' ? 'selected' : '' %>>Alta</option>
              <option value="Mitjana" <%=incidencia.prioritat==='Mitjana' ? 'selected' : '' %>>Mitjana</option>
              <option value="Baixa" <%=incidencia.prioritat==='Baixa' ? 'selected' : '' %>>Baixa</option>
            </select>
          </td>
          <td>
            <%= incidencia.Departamento ? incidencia.Departamento.nombre : 'Sense departament' %>
          </td>
          <td>
            <%= incidencia.Categoria ? incidencia.Categoria.nombre : 'Sense categoria' %>
          </td>
          <td>
            <%= moment(incidencia.dataincidencia).format('DD/MM/YYYY') %> 
          </td>
          <td>
            <select name="tecnico_<%= incidencia.id %>" class="form-select">
              <option value="" disabled selected>Selecciona un tècnic</option>
              <% tecnicos.forEach(tec=> { %>
                <option value="<%= tec.id %>" <%=incidencia.idt===tec.id ? 'selected' : '' %>><%= tec.nombre %></option>
              <% }) %>
            </select>
          </td>
        </tr>
      <% }) %>
    </table>
    <button type="submit" class="btn btn-primary mb-5">Actualitzar tot</button>
  </form>
<% } %>