<%- include('../partials/header') %>

  <h1>Nova incidencia</h1>
  <form action="/incidencias/create" method="post">
    <div class="mb-3">
      <label for="descripcio" class="form-label">Descripció de l'incidència</label>
      <textarea class="form-control" name="descripcio" id="descripcio" rows="4" required></textarea>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="idd" class="form-label">Departament</label>
        <select name="idd" id="idd" class="form-control" required>
            <option value="" disabled selected>Selecciona un departament</option>
            <% departamentos.forEach(dept => { %>
            <option value="<%= dept.id %>"><%= dept.nombre %></option>
            <% }); %>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="idc" class="form-label">Categoria</label>
        <select name="idc" id="idc" class="form-control" required>
            <option value="" disabled selected>Selecciona una categoria</option>
            <% categorias.forEach(cat => { %>
            <option value="<%= cat.id %>"><%= cat.nombre %></option>
            <% }); %>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="solicitat" class="form-label">Email (Opcional per veure les teves incidenices)</label>
      <input type="email" class="form-control" name="solicitat" id="solicitat" rows="4">
    </div>


    <div class="d-flex justify-content-between">
      <a href="/usuari" class="btn btn-secondary">Tornar enrere</a>
      <button type="submit" class="btn btn-primary">Crear</button>
    </div>
  </form>

<%- include('../partials/footer') %>