<%- include('../partials/header', { title: 'Crear Incidencia' }) %>

  <h1>Nova incidencia</h1>
  <form action="/incidencias/create" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Descripció</label>
      <input type="text" name="descripcio" class="form-control" placeholder="Ejemplo: La impresora no funciona"required/>
    </div>
    <div class="mb-3">
      <label for="idd" class="form-label">Departament</label>
      <select name="idd" id="idd" class="form-control" required>
          <option value="" disabled selected>Selecciona un departament</option>
          <% departamentos.forEach(dept => { %>
          <option value="<%= dept.id %>"><%= dept.nombre %></option>
          <% }); %>
      </select>
    </div>
    <div class="mb-3">
      <label for="idc" class="form-label">Categoria</label>
      <select name="idc" id="idc" class="form-control" required>
          <option value="" disabled selected>Selecciona una categoria</option>
          <% categorias.forEach(cat => { %>
          <option value="<%= cat.id %>"><%= cat.nombre %></option>
          <% }); %>
      </select>
    </div>
  
    <button type="submit" class="btn btn-success">Crear</button>
  </form>

<%- include('../partials/footer') %>