<table class="table">
    <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Prioridad</th>
        <th>Departamento</th>
        <th>Fecha de Incidencia</th>
    </tr>
    <% data.forEach(inc=> { %>
        <tr>
            <td>
                <%= inc.id %>
            </td>
            <td>
                <%= inc.descripcio %>
            </td>
            <td>
                <%= inc.prioritat %>
            </td>
            <td>
                <%= inc.Departamento ? inc.Departamento.nombre : 'Sin departamento' %>
            </td>
            <td>
                <%= inc.dataincidencia %>
            </td>
            <td>
                <%= inc.Tecnico ? inc.Tecnico.nombre : 'Sin Tecnico' %>
            </td>
        </tr>
        <% }); %>
</table>