<%- include('../partials/header') %>

<table class="table table-striped align-middle">
    <tr>
        <th>ID</th>
        <th>Descripció</th>
        <th>Departament</th>
        <th>Categoria</th>
        <th>Estat</th> 
        <th>Hores d'actuacions</th>
        <th>Data d'incidència</th>
        <th>Actuacions</th>
    </tr>
    <tr>
        <td><%= incidencia.id %></td>
        <td style="max-width: 250px;"><%= incidencia.descripcio %></td>
        <td><%= incidencia.Departamento ? incidencia.Departamento.nombre : 'Sense departament' %></td>
        <td><%= incidencia.Categoria ? incidencia.Categoria.nombre : 'Sense categoria' %></td>
        <td>
            <% if (incidencia.resolt === true) { %>
                <span class="badge bg-success fs-6 py-2 px-2">Completada</span>
            <% } else if (incidencia.idt) { %>
                <span class="badge bg-warning fs-6 py-2 px-2">En procés</span>
            <% } else { %>
                <span class="badge bg-danger fs-6 py-2 px-2">Pendent</span>
            <% } %>
        </td>
        <td><%= incidencia.horesactuacio %> h</td>
        <td><%= moment(incidencia.dataincidencia).format('DD/MM/YYYY') %></td>
        <td>
            <a class="btn btn-primary" href="/actuaciones/list/incidencias/public/<%= incidencia.id %>">Veure Actuacions</a>
        </td>
    </tr>
</table>

<div class="d-flex justify-content-between">
    <a href="/usuari" class="btn btn-secondary">Tornar enrere</a>
</div>

<%- include('../partials/footer') %>
