<%- include('../partials/header', { title: 'Mostrar Incidencias' }) %>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Prioridad</th>
            <th>Departamento</th>
            <th>Fecha de Incidencia</th>
            <th>cat</th>
        </tr>
        <% incidencias.forEach(inc => { %>
            <tr>
                <td><%= inc.id %></td>
                <td><%= inc.descripcio %></td>
                <td><%= inc.prioritat %></td>
                <td><%= inc.departament %></td>
                <td><%= inc.dataincidencia %></td> 
                <td>
                    <div class="dropdown"></div>
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton<%= inc.id %>" data-bs-toggle="dropdown" aria-expanded="false"></button>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= inc.id %>">
                        <li><a class="dropdown-item" href="/incidencias/<%= inc.id %>/edit">Editar</a></li>
                        <li><a class="dropdown-item" href="/incidencias/<%= inc.id %>/delete">Eliminar</a></li>
                      </ul>
                    </div>
                </td>
            </tr>
        <% }); %>
    </table>

    <%- include('../partials/footer') %>