<%- include('../partials/header', { title: 'Mostrar Incidencias' }) %>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Prioridad</th>
            <th>Departamento</th>
            <th>Fecha de Incidencia</th>
            <th>cat</th>
        </tr>
        <% incidencias.forEach(inc => { %>
            <tr>
                <td><%= inc.id %></td>
                <td><%= inc.descripcio %></td>
                <td><%= inc.prioritat %></td>
                <td><%= inc.departament %></td>
                <td><%= inc.dataincidencia %></td> 
            </tr>
        <% }); %>
    </table>

    <%- include('../partials/footer') %>