<%- include('../partials/header', { title: 'Llista de motos' }) %>
  <h1>Llista de motos</h1>

  <table class="table">
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Centímethes Cúbics</th>
      <th>Categoria</th>
      <th></th>
    </tr>
    <% motorcycles.forEach(moto=> { %>
      <tr>
        <td>
          <%= moto.name %>
        </td>
        <td>
          <%= moto.brand %>
          <img height="30px" src="/images/<%= moto.country %>.png" alt="icon-bander" />
        </td>
        <td>
          <%= moto.cc %> cv
        </td>
        <td>
          <% if (moto.Category) { %>
            <%= moto.Category.name %>
              <% } %>
        </td>
        <td>
          <div class="dropdown"></div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton<%= moto.id %>" data-bs-toggle="dropdown" aria-expanded="false"></button>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= moto.id %>">
              <li><a class="dropdown-item" href="/motorcycles/<%= moto.id %>/edit">Editar</a></li>
              <li><a class="dropdown-item" href="/motorcycles/<%= moto.id %>/delete">Eliminar</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <% }) %>
      <tr>
        <td colspan="5">
          <a class="btn btn-success" href="/motorcycles/new">+</a>
        </td>
      </tr>
  </table>
  <%- include('../partials/footer') %>