<%- include('../partials/header') %>

    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Prioridad</th>
            <th>Departamento</th>
            <th>Categoria</th>
            <th>Hores de Actuacions</th>
            <th>Fecha de Incidencia</th>
            <th>Actuaciones</th>
        </tr>
        <tr>
            <td><%= incidencia.id %></td>
            <td><%= incidencia.descripcio %></td>
            <td><%= incidencia.prioritat ? incidencia.prioritat : 'Sense prioritat' %></td>
            <td><%= incidencia.Departamento ? incidencia.Departamento.nombre : 'Sense departamento' %></td>
            <td><%= incidencia.Categoria ? incidencia.Categoria.nombre : 'Sense categoria' %></td>
            <td><%= incidencia.horesactuacio %> h</td>
            <td><%= moment(incidencia.dataincidencia).format('DD/MM/YYYY') %></td>
            <td><a class="btn btn-primary" href="/actuaciones/list/incidencias/public/<%= incidencia.id %>">Ver Actuaciones</a></td>
        </tr>
    </table>

    <div class="d-flex justify-content-between">
        <a href="/usuari" class="btn btn-secondary">Tornar enrere</a>
    </div>

    <%- include('../partials/footer') %>