<% if (incidencias.length === 0) { %>
    <div class="alert alert-warning">Encara no hi han incidencias.</div>
<% } else { %>
    <div class="table-responsive">
        <table class="table table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Prioridad</th>
                    <th>Departamento</th>
                    <th>Categoria</th>
                    <th>Fecha de Incidencia</th>
                    <th>Actuaciones</th>
                </tr>
            </thead>
        <% incidencias.forEach(incidencia=> { %>
            <tr>
                <td>
                    <%= incidencia.id %>
                </td>
                <td>
                    <%= incidencia.descripcio %>
                </td>
                <td>
                    <%= incidencia.prioritat %>
                </td>
                <td>
                    <%= incidencia.Departamento ? incidencia.Departamento.nombre : 'Sense departamento' %>
                </td>
                <td>
                    <%= incidencia.Categoria.nombre %>
                </td>
                <td>
                    <%= incidencia.dataincidencia %>
                </td>
                <td>
                    <a class="btn btn-warning" href="/actuaciones/list/incidencias/<%= incidencia.id %>">Ver Actuaciones</a>
                </td>
            </tr>
        <% }) %>
        </table>
    </div>
<% } %>