<%- include('partials/header') %>

<h1>Pàgina del Moderador</h1>
<p>Aquesta és la pàgina dedicada al moderador.</p>

<div class="mb-4 mt-4">
  <%- include('incidencias/asignar', { incidencias: incidenciasNoTecnic } ) %>
</div>
<div class="mb-4 mt-4">
  <%- include('incidencias/list_all', { incidencias: incidenciasYesTecnic } ) %>
</div>

<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Departaments</span>
        <a href="/otros/departamentos/new" class="btn btn-primary">Afegir</a>
      </div>
      <div class="card-body overflow-auto" style="max-height: 500px;">
        <%- include('departamentos/list_all', { departamentos: departamentos }) %>
      </div>
    </div>
  </div>

    <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Tecnics</span>
        <a href="/otros/tecnicos/new" class="btn btn-primary">Afegir</a>
      </div>
      <div class="card-body overflow-auto" style="max-height: 500px;">
        <%- include('tecnicos/list_all', { departamentos: departamentos }) %>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Categories</span>
        <a href="/otros/categorias/new" class="btn btn-primary">Afegir</a>
      </div>
      <div class="card-body overflow-auto" style="max-height: 500px;">
        <%- include('categorias/list_all', { categorias: categorias }) %>
      </div>
    </div>
  </div>
</div>

<canvas id="miGrafico" width="400" height="200"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/canvas.js"></script>

<%- include('partials/footer') %>