<%- include('partials/header') %>

<h1>Pàgina del Moderador</h1>
<p>Aquesta és la pàgina dedicada al moderador.</p>

<%- include('incidencias/asignar', { incidencias: incidenciasNoTecnic } ) %>
<%- include('incidencias/list_all', { incidencias: incidenciasYesTecnic } ) %>

<h3>Llista de Departaments i Categories</h3>
<div class="row">
  <div class="col-md-6">
    <%- include('departamentos/list_all', { departamentos: departamentos }) %>
    <a href="/departamentos/crear" class="btn btn-primary mt-2">Afegir departament</a>
  </div>
  <div class="col-md-6">
    <%- include('categorias/list_all', { categorias: categorias }) %>
    <a href="/categorias/crear" class="btn btn-primary mt-2">Afegir categoria</a>
  </div>
</div>
<br>
<%- include('partials/footer') %>