<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Contrasena</th>
            <th>Accions</th>
        </tr>
    </thead>
    <tbody>
        <% tecnicos.forEach(tec=> { %>
            <tr>
                <td>
                    <%= tec.id %>
                </td>
                <td>
                    <input type="text" name="nombre_<%= tec.id %>" value="<%= tec.nombre %>"
                        class="form-control-plaintext" />
                </td>
                <td>
                    <input type="text" name="contrasena_<%= tec.id %>" value="<%= tec.contrasena %>"
                        class="form-control-plaintext" />
                </td>
                <td>
                    <a href="#" title="Actualizar" style="width: 32px; height: 32px; padding: 0; margin-right: 5px;"
                        onclick="confirmarActualizar('tecnicos', '<%= tec.id %>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708L5.207 13.793l-3.5 1a.5.5 0 0 1-.63-.63l1-3.5L12.146.854zM11.207 2 3 10.207V11h.793L13 2.793 11.207 2z" />
                        </svg>
                    </a>

                    <a href="#" title="Eliminar" style="width: 32px; height: 32px; padding: 0;"
                        onclick="confirmarEliminar('tecnicos', '<%= tec.id %>')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3" viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </a>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
</form>