<%- include('../partials/header') %>

<h2 class="mb-4">Actuacions per a la incidència <%= incidencia.id %></h2>

<% if (actuaciones.length === 0) { %>
    <div class="alert alert-warning">Encara no hi ha actuacions per aquesta incidència.</div>
<% } else { %>
    <table class="table table-striped align-middle">
        <tr>
            <th>Descripció</th>
            <th>Tecnic</th>
            <th>Data</th>
            <th>Hores</th>
            <th>Resolució</th>
        </tr>
        <% actuaciones.forEach(actuacion => { %>
        <tr>
            <td><%= actuacion.descripcio %></td>
            <td><%= actuacion.Tecnico ? actuacion.Tecnico.nombre : 'Sense Tècnic' %></td>
            <td><%= moment(actuacion.dataactuacio).format('DD/MM/YYYY') %></td>
            <td><%= actuacion.hores %>h</td>
            <td><%= actuacion.resolt ? 'Resolt' : 'No resolt' %></td>
        </tr>
        <% }) %>
    </table>
<% } %>

<div class="d-flex justify-content-between">
    <a href="/usuari" class="btn btn-secondary">Tornar enrere</a>
</div>

<%- include('../partials/footer') %>
